---
import AboutcoverImage from "../assets/Actlab_logo.webp";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Act lab"
  description="สนามทดลองนักกิจกรรม ค้นหานวัตกรรม ขยายเพดานปฏิบัติการไร้ความรุนแรง เพื่อสังคมเท่าเทียม"
  date={new Date("2021-03-14")}
  coverImage={AboutcoverImage}
>
  <h2>Act lab (activist’s laboratory)</h2>
  <h4>
    ห้องทดลองนักกิจกรรม ค้นหานวัตกรรม ขยายเพดานปฏิบัติการไร้ความรุนแรง
    เพื่อสังคมเท่าเทียม
  </h4>

  <p>
    Act Lab เป็นพื้นที่ทดลองคิดทดลองทำ
    ในสนามของห้องทดลองนี้พวกเราคือนักทดลองปฏิบัติการ
    กระบวนการของห้องทดลองจะชักชวน ผลักดัน สนับสนุน
    ส่งเสริมให้เราปฏิบัติการอะไรก็ได้แล้วเอาความรู้มาแลกกันต่อยอดเกิดเป็นความรู้ใหม่ขึ้นมา
    นำไปสู่นวัตกรรมของปฏิบัติการที่มุ่งขยายเพดานของปฏิบัติการไร้ความรุนแรงเพื่อสังคมที่เท่าเทียมและเป็นธรรม
  </p>
</Layout>
