---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import PostGrid from "../components/PostGrid.astro";
import InspirationSlideshow from "../components/InspirationSlideshow.astro";
---

<!doctype html>
<html lang="th">
  <head>
    <BaseHead title={`Home | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-50 text-gray-900 font-sans">
    <Header />
    <InspirationSlideshow />
    <main
      class="max-w-7xl mx-auto mb-12 px-4 sm:px-6 lg:px-8 py-16 min-h-screen"
    >
      <div class="h-10 w-full"></div>
      <div class="text-center mb-12">
        <h
          class="text-3xl md:text-4xl font-extrabold text-gray-900 tracking-tight mb-4"
        >
          บทความ
        </h>
        <p class="text-lg text-gray-600 max-w-2xl mx-auto">
          อัปเดตความรู้ เครื่องมือ และเรื่องราวการเคลื่อนไหวทางสังคมจาก Act Lab
        </p>
      </div>
      <PostGrid collection="blog" limit={8} />
      <div class="h-16"></div>
    </main>
    <Footer />
  </body>
</html>
