<div
  class="w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] px-4 md:px-10 overflow-x-auto pb-12"
>
  <table
    class="w-full min-w-[1200px] border-collapse text-sm md:text-base shadow-xl rounded-lg overflow-hidden my-10"
  >
    <thead>
      <tr class="bg-gray-100 border-b border-gray-300 text-gray-800">
        <th
          rowspan="2"
          class="p-4 font-bold text-left align-top border-r border-gray-200 w-[10%]"
          >ระดับความเสี่ยง</th
        >
        <th
          rowspan="2"
          class="p-4 font-bold text-left align-top border-r border-gray-200 w-[20%]"
          ><div class="text-center">สถานที่ใช้จัดกิจกรรม</div></th
        >
        <th
          rowspan="2"
          class="p-4 font-bold text-left align-top border-r border-gray-200 w-[20%]"
          ><div class="text-center">แนวโน้มปฏิบัติการของเจ้าหน้าที่</div></th
        >
        <th
          rowspan="2"
          class="p-4 font-bold text-left align-top border-r border-gray-200 w-[15%]"
          ><div class="text-center">รูปแบบการชุมนุม</div></th
        >
        <th
          rowspan="2"
          class="p-4 font-bold align-top border-r border-gray-200 w-[15%]"
          ><div class="text-center">ประเด็น/ข้อเรียกร้อง</div></th
        >

        <th
          colspan="2"
          class="p-4 font-bold border-b border-gray-300 bg-gray-200 w-[20%]"
          ><div class="text-center">ช่วงเวลาจัดชุมนุม</div></th
        >
      </tr>

      <tr class="bg-gray-100 border-b-2 border-gray-300 text-gray-800 text-sm">
        <th class="p-3 font-bold text-left w-[10%] border-r border-gray-200"
          >เวลานัด</th
        >
        <th class="p-3 font-bold text-left w-[10%]">เวลายุติการชุมนุม</th>
      </tr>
    </thead>

    <tbody>
      <tr class="bg-red-600 text-white align-top">
        <td class="p-4 font-bold border-r border-red-500"
          ><div class="pt-6">เสี่ยงสูง</div></td
        >
        <td class="p-4 border-r border-red-500">
          <ul class="list-disc pl-4 space-y-1 mt-0">
            <li>พื้นที่ในเขตควบคุมดูแลของทหาร</li>
            <li>พื้นที่ในเขตพระราชฐานหรือที่เกี่ยวข้องกับส่วนพระมหากษัตริย์</li>
          </ul>
        </td>
        <td class="p-4 border-r border-red-500">
          <ul class="list-disc pl-4 space-y-1">
            <li>เจ้าหน้าที่สวมใส่อุปกรณ์ป้องกันอันตรายครบชุด</li>
            <li>มีการปรากฎของปืนลูกซองพร้อมกระสุนยาง</li>
            <li>มีการปรากฎตัวของเจ้าหน้าที่ชุดควบคุมฝูงชน (คฝ.)</li>
            <li>
              ขยายจกรรณ์สวมหมวกกันกระแทกสีขาวไม่ทราบฝ่ายตั้งแถวเป็นจำนวนมากกว่า
              5 นาย
            </li>
            <li>เจ้าหน้าที่ขอความร่วมมือกลุ่มผู้สื่อข่าวให้ออกนอกพื้นที่</li>
          </ul>
        </td>
        <td class="p-4 border-r border-red-500"
          ><div class="pt-6">
            ผู้ชุมนุมประกาศปักหลักค้างคืนบริเวณพื้นที่การชุมนุม
          </div></td
        >
        <td class="p-4 border-r border-red-500"
          ><div class="pt-6">เกี่ยวข้องกับสถาบันพระมหากษัตริย์</div></td
        >

        <td class="p-4 border-r border-red-500 bg-red-700/30"
          ><div class="pt-6">หลังเวลาพระอาทิตย์ตกดิน</div></td
        >
        <td class="p-4 bg-red-700/30">
          <p class="font-bold mb-1 pt-6">กรณีพื้นที่ทั่วไป:</p>
          กลางคืน/ค้างคืน
          <p class="font-bold mt-2 mb-1">กรณีพื้นที่ประกาศล็อกดาวน์:</p>
          เลิกหลัง 21.00 น. หรือหลังเวลาเคอร์ฟิว
        </td>
      </tr>

      <tr class="bg-orange-400 text-black align-top border-b border-orange-500">
        <td class="p-4 font-bold border-r border-orange-300"
          ><div class="pt-6">มีความเสี่ยง</div></td
        >
        <td class="p-4 border-r border-orange-300">
          <ul class="list-disc pl-4 space-y-1">
            <li>หน่วยงานราชการ</li>
            <li>สำนักงานตำรวจแห่งชาติ</li>
            <li>หน้าสถานีตำรวจ</li>
            <li>สถานทูต</li>
            <li>บริเวณเรือนจำ</li>
          </ul>
        </td>
        <td class="p-4 border-r border-orange-300">
          <ul class="list-disc pl-4 space-y-1">
            <li>มีการปรากฎของอุปกรณ์พิเศษ (มีรถฉีดน้ำแรงดันสูง)</li>
            <li>ปรากฎเจ้าหน้าที่ชุดควบคุมฝูงชนหญิง (กองร้อยน้ำหวาน)</li>
          </ul>
        </td>
        <td class="p-4 border-r border-orange-300"
          ><div class="pt-6">มีการเคลื่อนขบวน</div></td
        >
        <td class="p-4 border-r border-orange-300"
          ><div class="pt-6">
            กดดันให้ปล่อยตัวผู้ถูกจับกุม (ไม่มีการจัดตั้ง/เตรียมตัว)
          </div></td
        >

        <td class="p-4 border-r border-orange-300 bg-orange-300/40"
          ><div class="pt-6">หลัง 18.00 น.</div></td
        >
        <td class="p-4 bg-orange-300/40">
          <p class="font-bold mb-1 pt-6">กรณีพื้นที่ทั่วไป:</p>
          เลิก 21.00-22.00 น.
          <p class="font-bold mt-2 mb-1">กรณีพื้นที่ประกาศล็อกดาวน์:</p>
          เลิก 20.00-21.00 น. หรือก่อนเวลาเคอร์ฟิว 1 ชม.
        </td>
      </tr>

      <tr class="bg-yellow-300 text-black align-top border-b border-yellow-400">
        <td class="p-4 font-bold border-r border-yellow-200">ควรระมัดระวัง</td>
        <td class="p-4 border-r border-yellow-200"
          >ย่านศูนย์การค้าหรือพื้นที่เอกชน</td
        >
        <td class="p-4 border-r border-yellow-200"
          >เจ้าหน้าที่ตำรวจ สภ. ตั้งแถวบริเวณพื้นที่ชุมนุม (ชุดสีน้ำเงินเข้ม
          ผูกผ้าพันคอสีต่างๆ)</td
        >
        <td class="p-4 border-r border-yellow-200"
          >ชุมนุมบริเวณที่แจ้งและไม่มีการเคลื่อนย้าย
          เป็นการรวมตัวการชุมนุมจากหลากหลายกลุ่ม</td
        >
        <td class="p-4 border-r border-yellow-200"
          >เรียกร้องให้ปล่อยตัวผู้ถูกคุมขัง</td
        >

        <td class="p-4 border-r border-yellow-200 bg-yellow-200/50"
          >เริ่ม 16.00-18.00 น.</td
        >
        <td class="p-4 bg-yellow-200/50">
          <p class="font-bold mb-1">กรณีพื้นที่ทั่วไป:</p>
          เลิก 20.00 น.
          <p class="font-bold mt-2 mb-1">กรณีพื้นที่ประกาศล็อกดาวน์:</p>
          เลิก 19.00 น.-20.00 น.
        </td>
      </tr>

      <tr class="bg-green-300 text-white align-top">
        <td class="p-4 font-bold border-r border-green-400"
          ><div class="pt-6">ค่อนข้างปลอดภัย</div></td
        >
        <td class="p-4 border-r border-green-400">
          <ul class="list-disc pl-4 space-y-1">
            <li>กระทรวงศึกษาธิการ</li>
            <li>United Nations (UN)</li>
          </ul>
        </td>
        <td class="p-4 border-r border-green-400"
          ><div class="pt-6">
            ปรากฎเจ้าหน้าที่ตำรวจในเครื่องแบบชุดสีกากีอยู่ในพื้นที่
          </div></td
        >
        <td class="p-4 border-r border-green-400"
          ><div class="pt-6">
            นิทรรศการ ดนตรี ศิลปะ ไว้อาลัย เช่น จุดเทียน วางพวงหรีด ผูกโบว์
          </div></td
        >
        <td class="p-4 border-r border-green-400">
          <ul class="list-disc pl-4 space-y-1">
            <li>ทรัพยากร สิ่งแวดล้อม</li>
            <li>ชาติพันธุ์</li>
            <li>แรงงาน</li>
            <li>การศึกษา</li>
            <li>LBGT/ Feminist</li>
            <li>กดดันบุคคล/ ข้าราชการ รมต.</li>
            <li>รับทราบข้อกล่าวหา</li>
          </ul>
        </td>

        <td class="p-4 border-r border-green-400 bg-green-600/30"
          ><div class="pt-6">เริ่มเช้า</div></td
        >
        <td class="p-4 bg-green-600/30"
          ><div class="pt-6">เลิก 18.00 น.</div></td
        >
      </tr>
    </tbody>
  </table>
</div>
